In [ ]:
%matplotlib inline

In [ ]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.set_option('display.max_colwidth', None)

In [ ]:
!ls data/

In [ ]:
!ls sup_info/

In [ ]:
data_info = [
    "|   91 distinct values for attribute #0 (age) continuous",
    "|    9 distinct values for attribute #1 (class of worker) nominal",
    "|   52 distinct values for attribute #2 (detailed industry recode) nominal",
    "|   47 distinct values for attribute #3 (detailed occupation recode) nominal",
    "|   17 distinct values for attribute #4 (education) nominal",
    "| 1240 distinct values for attribute #5 (wage per hour) continuous",
    "|    3 distinct values for attribute #6 (enroll in edu inst last wk) nominal",
    "|    7 distinct values for attribute #7 (marital stat) nominal",
    "|   24 distinct values for attribute #8 (major industry code) nominal",
    "|   15 distinct values for attribute #9 (major occupation code) nominal",
    "|    5 distinct values for attribute #10 (race) nominal",
    "|   10 distinct values for attribute #11 (hispanic origin) nominal",
    "|    2 distinct values for attribute #12 (sex) nominal",
    "|    3 distinct values for attribute #13 (member of a labor union) nominal",
    "|    6 distinct values for attribute #14 (reason for unemployment) nominal",
    "|    8 distinct values for attribute #15 (full or part time employment stat) nominal",
    "|  132 distinct values for attribute #16 (capital gains) continuous",
    "|  113 distinct values for attribute #17 (capital losses) continuous",
    "| 1478 distinct values for attribute #18 (dividends from stocks) continuous",
    "|    6 distinct values for attribute #19 (tax filer stat) nominal",
    "|    6 distinct values for attribute #20 (region of previous residence) nominal",
    "|   51 distinct values for attribute #21 (state of previous residence) nominal",
    "|   38 distinct values for attribute #22 (detailed household and family stat) nominal",
    "|    8 distinct values for attribute #23 (detailed household summary in household) nominal",
    "|   10 distinct values for attribute #24 (migration code-change in msa) nominal",
    "|    9 distinct values for attribute #25 (migration code-change in reg) nominal",
    "|   10 distinct values for attribute #26 (migration code-move within reg) nominal",
    "|    3 distinct values for attribute #27 (live in this house 1 year ago) nominal",
    "|    4 distinct values for attribute #28 (migration prev res in sunbelt) nominal",
    "|    7 distinct values for attribute #29 (num persons worked for employer) continuous",
    "|    5 distinct values for attribute #30 (family members under 18) nominal",
    "|   43 distinct values for attribute #31 (country of birth father) nominal",
    "|   43 distinct values for attribute #32 (country of birth mother) nominal",
    "|   43 distinct values for attribute #33 (country of birth self) nominal",
    "|    5 distinct values for attribute #34 (citizenship) nominal",
    "|    3 distinct values for attribute #35 (own business or self employed) nominal",
    "|    3 distinct values for attribute #36 (fill inc questionnaire for veteran's admin) nominal",
    "|    3 distinct values for attribute #37 (veterans benefits) nominal",
    "|   53 distinct values for attribute #38 (weeks worked in year) continuous",
    "|    2 distinct values for attribute #39 (year) nominal",
]

In [ ]:
s_data_info = pd.Series(data_info)\
    .str.replace("|", "")\
    .str.replace("distinct values for attribute #", ",")\
    .str.replace("(", ",")\
    .str.replace(")", ",")\
    .str.replace("'","")\
    .str.strip()
df_data_info = s_data_info.str.split(",", expand=True).drop(1,axis=1)
df_data_info.columns = ["nunique", "column_name", "column_type"]
df_data_info["nunique"] = df_data_info["nunique"].astype(int)
df_data_info.loc[40] = [2, "target", "nominal"]

In [ ]:
df0 = pd.read_csv(filepath_or_buffer="data/census_income_learn.csv", header=None).drop(24,axis=1)
if (df0.nunique().reset_index(drop=True) == df_data_info["nunique"]).all():
    print("renaming columns")
    df0.columns = df_data_info["column_name"].tolist()

### EDA
- dropna or remove columns with nan from model - no imputation
- all nan values are in object columns

In [ ]:
# cleanup values in object columns
df0 = df0.map(lambda x: x.strip() if isinstance(x, str) else x)
df0["target"] = df0["target"].str.replace(".", "")
df0 = df0.replace("?", np.nan)
df0_nan = df0.isna().sum()
df0_shape = df0.shape
print(df0_shape)

In [ ]:
df0[df0["education"]=="Children"]["target"].value_counts() # if edu is Children then target < 50k

In [ ]:
df_data_info["percent_missing"] = (df0_nan / df0_shape[0] * 100).round(2).values
df_data_info[df_data_info["percent_missing"]>0]

In [ ]:
df0["migration code-move within reg"].unique()

In [ ]:
df1 = df0[df0["education"]!="Children"].reset_index(drop=True) # if edu is Children then target < 50k
print(df1.shape)

In [ ]:
df1.duplicated().sum()

In [ ]:
# object_columns = df0.select_dtypes(object).columns
# from IPython.display import clear_output
# for object_column in object_columns:
#     print(f"column name: {object_column}\n")
#     unique_values = df0[object_column].unique()
#     if pd.Series(unique_values).str.contains("Not in universe").sum()>0:
#         print("not in universe value")
#     print(unique_values)
#     input()
#     clear_output()